# For docker and app
POSTGRES_PASSWORD=password
POSTGRES_USER=admin
POSTGRES_DB=event_analyser
TZ=America/Sao_Paulo # Change for your preferred location

# For the app only
DB_HOST=localhost
DB_PORT=5432
